/* .container-fluid{
  display:flex;
  justify-content:space-around;
} */

#chosen-enemy{
  color:red;
}

.row{
  margin-left:2vw;
  margin-top:1.5vh;
}

#chosen-enemy-label{
  display:none;
}

#image1{
  display:flex;
  flex-direction:column;
  align-items:center
}

#image2{
  display:flex;
  flex-direction:column;
  align-items:center
}

#image3{
  display:flex;
  flex-direction:column;
  align-items:center
}

#image4{
  display:flex;
  flex-direction:column;
  align-items:center
}

body{
  background: url(pics/background-1.jpg);
  background-size: cover;
}

p{
  font-weight: 900;
  font-size:16px;
}

.image{
  cursor: pointer;

}